<?xml version="1.0"?>
<configuration>

  <location path="TeacherHome.aspx">    
    <system.web>
      <authorization>
        <deny users="?" roles="Student,Admin,FacultyAdmin"/>
        <allow roles="Teacher"/>
      </authorization>      
    </system.web>
  </location>  
  
  <location path="CourseStudents.aspx">
    <system.web>
      <authorization>
        <deny users="?" roles="Student,Admin,FacultyAdmin"/>
        <allow roles="Teacher"/>
      </authorization>
    </system.web>
  </location>

</configuration>
