<?xml version="1.0"?>
<configuration>

  <location path="ManageFaculty.aspx">
    <system.web>      
        <authorization>      
        <deny users="?" roles="Student,Teacher,Admin"/>
        <allow roles="FacultyAdmin"/>
      </authorization>    
    </system.web>
  </location>

  <location path="FacultyAdminHome.aspx">
    <system.web>
      <authorization>
        <deny users="?" roles="Student,Teacher,Admin"/>
        <allow roles="FacultyAdmin"/>
      </authorization>
    </system.web>
  </location>
  
  <location path="ManageFacultyUsers.aspx">
    <system.web>
      <authorization>
        <deny users="?" roles="Student,Teacher,Admin"/>
        <allow roles="FacultyAdmin"/>
      </authorization>
    </system.web>
  </location>

  

</configuration>
