<?xml version="1.0"?>
<configuration>

  <location path="Class.aspx">    
    <system.web>
      <authorization>
        <deny users="?" roles="Teacher,Admin,FacultyAdmin"/>
        <allow roles="Student"/>
      </authorization>      
    </system.web>
  </location>    
  <location path="StudentCourse.aspx">
    <system.web>
      <authorization>
        <deny users="?" roles="Teacher,Admin,FacultyAdmin"/>
        <allow roles="Student"/>
      </authorization>
    </system.web>
  </location>
  <location path="StudentHome.aspx">
    <system.web>
      <authorization>
        <deny users="?" roles="Teacher,Admin,FacultyAdmin"/>
        <allow roles="Student"/>
      </authorization>
    </system.web>
  </location>
</configuration>
