<?xml version="1.0"?>
<configuration>

  <location path="ManageUsers.aspx">
    <system.web>      
        <authorization>
          <deny users="?" roles="Student,Teacher,FacultyAdmin"/>
          <allow roles="Admin"/>
      </authorization>    
    </system.web>
  </location>
  
  <location path="AdminHome.aspx">
    <system.web>
      <authorization>
        <deny users="?" roles="Student,Teacher,FacultyAdmin"/>
        <allow roles="Admin"/>
      </authorization>
    </system.web>
  </location>
  
  <location path="ManageUniversity.aspx">
    <system.web>
      <authorization>
        <deny users="?" roles="Student,Teacher,FacultyAdmin"/>
        <allow roles="Admin"/>
      </authorization>
    </system.web>
  </location>

</configuration>
