<?xml version="1.0"?>
<configuration>

  <location path="MyFiles.aspx">    
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>      
    </system.web>
  </location>  
  
  <location path="SharedFolders.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

</configuration>
